<div style="padding-top: 10%; text-align: center; background-color: black;">
    <h1>Your code isn't working; try again.</h1>
    <p>There is no such page as the one you are searching for.</p>
    <p><a href="/">Return to the homepage</a></p>
</div>