<div class="container" style="padding-top:60px">
  <div class="row">
    <section class="main col-md-9">
      <article>
      <h2>About</h2>
     <p>
       Greetings of the day, My name is Manmeet Singh Atwal, and I attend Seneca College to study software development. 
        Participating in sports like cricket, badminton, and swimming is one of my favorite pastimes. In addition, I enjoy watching TV shows and movies, especially auto shows. 
        After receiving this degree, I wish to work for a large corporation as a web developer. 
        I enjoy creating websites that are visually appealing. I'm excited to pick up a ton of new tricks and techniques in this web programming course (BTI325) so that I can create websites that are of the highest caliber.


    </p>
      </article>
    </section>
    <aside class="col-md-3">
      <h2>Coming Soon</h2>
      <p>Stay tuned for future updates about my life.</p>
    </aside>
  </div>
</div>